:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    max-width: 56rem;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.nav-bar {
    position: sticky;
    padding: 0 0.5rem;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2db9f5;
    color: #fff;
}

.nav-bar h2 {
    font-weight: bold;
    margin-bottom: 0;
    user-select: none;
}

.nav-bar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar button {
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s;
}

.nav-bar button:hover {
    color: #1f80aa;
}

.nav-bar button:active {
    transform: scale(0.8);
}


#page-content {
    padding: 1rem;
    overflow-y: auto;
    flex: 1;
}

.classifier-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#strain-uploader {
    border: #2db9f5;
    transition: all 0.3s;
}

#strain-uploader:active {
    transform: scale(0.9);
}


.time-slider-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.time-slider-div button {
    background: #2db9f5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    height: 2rem;
    transition: all 0.3s;
}

.time-slider-div button:active {
    transform: scale(0.8);
}

.time-slider-div button:hover {
    background: #1f80aa;
}

#time-slider {
    flex: 1;
    margin: 0 1rem;
    margin-top: 1rem;
}

.time-slider-buttons {
    display: flex;
    gap: 1rem;
}

.time-input-div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#time-input {
    font-size: 1rem;
    border: none;
    background: #efeeee;
    padding: 0.5rem;
    border-radius: 6px;
}

#gps-time {
    text-align: center;
}

#data-preview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}   

#data-preview button {
    border: none;
    border-radius: 6px;
    background: #2db9f5;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
}

#data-preview button:hover {
    background: #1f80aa;
}

#data-preview button:active {
    transform: scale(0.8);
}

#classification-result {
    text-align: center;
}